
configuration {
    /* general */
	show-icons: true;
	font: "JetBrains Mono 10";
	separator-style: "dash";

	window-format: "{w} {n} {t}";
}
//@theme "/usr/share/rofi/themes/lb.rasi"
@theme "/usr/share/rofi/themes/Pop-Dark.rasi"
