[user]
	email = sebastianus.kurniawan@gmail.com
	name = Sebastianus Kurniawan
	signingkey = 056FBA6D6D41731B
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	undo = reset HEAD~1 --mixed
[url "git@github.com:"]
  insteadOf = https://github.com/
[pull]
	rebase = false
[core]
	pager = delta
[interactive]
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false # required for git 2.37.0
[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[commit]
	gpgsign = true
