{
 :layers {
             :hyper-mode {:key :caps_lock :alone {:key :!Tup_arrow }}
             :shift-hyper-mode {:key :shift :condi :hyper-mode}
             },
 :applications {
                :terminal ["^org\\.alacritty"]
                :rdp ["^com\\.microsoft\\.rdc\\.macos"]
                }
 :simlayer-threshold 1000
 :main [
        {:des "ctrlkeyterminal",
         :rules [
                 [:!TSv :!Cv [:terminal]]
                 [:!TSc :!Cc [:terminal]]
                 ]}
        {:des "ctrlnotterminal",
         :rules [
                 [:!Ta :!Ca [:!terminal :!rdp]]
                 [:!TSa :!CSa [:!terminal :!rdp]]
                 [:!Tc :!Cc [:!terminal :!rdp]]
                 [:!Tf :!Cf [:!terminal :!rdp]]
                 [:!Tk :!Ck [:!terminal :!rdp]]
                 [:!TSk :!CSk [:!terminal :!rdp]]
                 [:!Tl :!Cl [:!terminal :!rdp]]
                 [:!Tr :!Cr [:!terminal :!rdp]]
                 [:!Tt :!Ct [:!terminal :!rdp]]
                 [:!Tv :!Cv [:!terminal :!rdp]]
                 [:!TSv :!CSv [:!terminal :!rdp]]
                 [:!Tw :!Cw [:!terminal :!rdp]]
                 [:!Tx :!Cx [:!terminal :!rdp]]
                 [:!Tz :!Cz [:!terminal :!rdp]]
                 ]}
        {:des "capskey",
         :rules [:hyper-mode
                 [:x :!COx]
                 [:c :!COc]
                 [:v :!COv]
                 [:b :!COb]
                 [:t :!OCSt]
                 [:q :!Cq]
                 [:z :!OSz]
                 [:h :!OSh]
                 [:l :!OSl]
                 [:j :!OSj]
                 [:i :!OSi]
                 [:k :!OSk]
                 [:p :!OSp]
                 [:n :!OSn]
                 [:y :!Tleft_arrow]
                 [:o :!Tright_arrow]
                 [:tab :!Ctab]
                 [:spacebar :!Cspacebar]
                 ]}
        {:des "generic",
         :rules [
                 [:!Fleft_arrow :!Oleft_arrow]
                 [:!FSleft_arrow :!OSleft_arrow]
                 [:!Fright_arrow :!Oright_arrow]
                 [:!FSright_arrow :!OSright_arrow]
                 [:!Fdelete_or_backspace :!Odelete_or_backspace]
                 [:!Fbutton1 :button1]
                 ]}
        ]
 }
