{
 :layers {
             :hyper-mode {:key :caps_lock :alone {:key :!Tup_arrow }}
             },
 :applications {
                :terminal ["^org\\.alacritty"]
                :rdp ["^com\\.microsoft\\.rdc\\.macos"]
                }
 :simlayer-threshold 1000
 :main [
        {:des "ctrlkeyterminal",
         :rules [
                 [:!TSv :!Cv [:terminal]]
                 [:!TSc :!Cc [:terminal]]
                 ]}
        {:des "ctrlnotterminal",
         :rules [
                 [:!Ta :!Ca [:!terminal :!rdp]]
                 [:!TSa :!CSa [:!terminal :!rdp]]
                 [:!Tc :!Cc [:!terminal :!rdp]]
                 [:!Tf :!Cf [:!terminal :!rdp]]
                 [:!Tk :!Ck [:!terminal :!rdp]]
                 [:!TSk :!CSk [:!terminal :!rdp]]
                 [:!Tl :!Cl [:!terminal :!rdp]]
                 [:!Tr :!Cr [:!terminal :!rdp]]
                 [:!Tt :!Ct [:!terminal :!rdp]]
                 [:!Tv :!Cv [:!terminal :!rdp]]
                 [:!TSv :!CSv [:!terminal :!rdp]]
                 [:!Tw :!Cw [:!terminal :!rdp]]
                 [:!Tx :!Cx [:!terminal :!rdp]]
                 [:!Tz :!Cz [:!terminal :!rdp]]
                 ]}
        {:des "capskey",
         :rules [:hyper-mode
                 [:x :!COx] ;shottr basic
                 [:s :!COTo] ;shottr text
                 [:d :!COd] ;shottr screen
                 [:c :!COc] ;alfred clipboard
                 [:v :!COv] ;alfred snippet
                 [:b :!COb] ;raindrop bookmark
                 [:t :!OCTt] ;keyboard maestro
                 [:q :!Cq] ;quit
                 [:z :!OSz] ;restart amethyst
                 [:y :!OSh] ;amethyst downsize
                 [:o :!OSl] ;amethyst upsize
                 [:j :!OSj] ;amethyst next windows
                 [:i :!OSi] ;amethyst change layout
                 [:k :!OSk] ;amehtyst prev windows
                 [:p :!OSp] ;amethyst prev display
                 [:n :!OSn] ;amethyst next display
                 [:h :!Tleft_arrow] ;next desktop
                 [:l :!Tright_arrow] ;prev desktop
                 [:tab :!Otab] ;alt-tab all
                 [:grave_accent_and_tilde :!Ograve_accent_and_tilde] ;alt-tab in apps
                 [:spacebar :!Cspacebar] ;alfred
                 [:f :!CSspacebar] ;1password
                 [:1 :!CS1] ;keyboard maestro windows
                 [:2 :!CS2] ;keyboard maestro windows
                 [:3 :!CS3] ;keyboard maestro windows
                 [:4 :!CS4] ;keyboard maestro windows
                 [:5 :!CS5] ;keyboard maestro windows
                 [:6 :!CS6] ;keyboard maestro windows
                 [:7 :!CS7] ;keyboard maestro windows
                 [:8 :!CS8] ;keyboard maestro windows
                 [:9 :!CS9] ;keyboard maestro windows
                 ]}
        {:des "generic",
         :rules [
                 [:!Tleft_arrow :!Oleft_arrow]
                 [:!TSleft_arrow :!OSleft_arrow]
                 [:!Tright_arrow :!Oright_arrow]
                 [:!TSright_arrow :!OSright_arrow]
                 [:!Tdelete_or_backspace :!Odelete_or_backspace]
                 [:!Tbutton1 :button1]
                 ]}
        ]
 }
